body {
    font-family: Arial, Helvetica, sans-serif;
background-color: aliceblue;

display: grid;

grid-template: auto/80% 20%;


}


#container {
    justify-self: center;
    width: 1000px;
    height: 500px;
    border: solid 3px black;
    position: relative;
    display: grid;
    grid-template: auto/ 80% 20%;
    position: relative;
    top: 30px;

}

#screen{
    width: 580px;
    height: 350px;
    border: solid 3px black;
    display: inline-block;
    position: relative;
    padding: 10px;
    align-self: center;
    justify-self: flex-start;
    margin-left: 12px;
    box-shadow: 2px 2px 5px;


}

#board{
    width: 300px;
    height: 430px;
    position: absolute;
    top: 0;
    right: 0;
    display: grid;
    grid-template: 80px 80px 80px 80px 80px / 1fr 1fr 1fr ;
    row-gap: 3px;
    column-gap: 3px;
    background-color: rgb(27, 26, 26);
    padding: 35px;

}

#zero {

   grid-column: span 3; 
   margin-left: 34%;
   margin-right: 34%;
   background-color: black;
   color: white;
   font-size: 25px;

}

.numbers {

background-color: black;
color: white;
font-size: 25px;

}

#confirmar {

    background-color: rgb(29, 175, 29);


}

#corrigir {

    background-color: rgb(224, 67, 19);


}

#branco {

background-color: white;


}

#candidatosContainer {

position: absolute;
right: 40px;
width: 250px;
top: 20px;


}

li {
font-size: 25px;
padding: 10px;
border: solid 1px black;
list-style: none;

}


#foto {

position: absolute;
top: 0;
right: 0;
margin: 10px;
display: inline-block;


}

.numerosTela {

background-color: transparent;
width: 40px;
height: 40px;


}

#result {

max-height: 60px;
width: 200px;
padding: 20px;
align-self: flex-end;
justify-self: center;

}

#textoFinal {

display: none;
text-align: center;
line-height: 300px;


}